@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* --color-primary: #00dc82; */
  --radius: 0.5rem;
}

/* body {
  background-color: #020420;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #00dc82;
} */
