@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* --color-primary: #00dc82; */
  --radius: 0.5rem;
}

@layer utilities {
  .fade-in {
    animation: fadeIn 0.4s ease-in;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* body {
  background-color: #020420;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  color: #00dc82;
} */
